.card-image-content {
    width: 100%;
                  height: 100%;
                  border: 1px solid black;
                  margin: 1px;
}

.card-image {
    border: 1px solid black;
     height: 680px;
      background-size: cover;
}